* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	font-family: monospace;
}

.card {
	width: 320px;
	height: 445px;
	margin: 2em;
	perspective: 1500px;
	.content {
		width: 100%;
		height: 100%;
    display: block;
    cursor: pointer;
		transform-style: preserve-3d;
		transition: transform 0.5s cubic-bezier(0, 0, 1, 1);
	}
}

.flipper {
	display: none;

	&:checked ~ .content {
		transform: rotateY(180deg);
	}
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	/*transform-style: preserve-3d;*/
	border-radius: 10px;
  border: 5px solid yellow;
  

	.inner {
		height: 100%;
		display: grid;
		padding: 1.5em;
		transform: translateZ(80px) scale(0.94);
	}
}

.front {
	background-color: #fff;
	background-size: cover;
	background-position: center center;
  
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 10px;  
		backface-visibility: hidden;
  }
  
	.inner {
		grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
		justify-items: center;
	}

	h1{
		grid-row: 1;
		margin-bottom: 0.3em;
		letter-spacing: 3px;
		color: #ffa;
		text-shadow: 1px 3px 3px black;
	}
  
  img{
    grid-row: 5;
    width: 100px;
    height: auto;
    filter: brightness(0.8);    
  }
}

.back {
	transform: rotateY(180deg);
	background-color: #fff;
	border: 2px solid rgb(240, 240, 240);
	.inner {
		/*grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;*/
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 0.8em;
		justify-items: center;
	}

	.info {
		position: relative;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
		display: flex;
    flex-direction: column;
		align-items: flex-start;
		grid-row: 3;
		span {
			font-size: 1.3em;
			font-weight: 500;
		}
		.icon {
			margin-left: 0.3em;
			span {
				display: block;
				margin-top: -0.25em;
				font-size: 1em;
			}
		}
	}

	.description {
		grid-row: 5;
		grid-column: 1/-1;
		font-size: 0.9em;
		border-radius: 5px;
		font-weight: 600;
		line-height: 2em;
		overflow: auto;
		padding-right: 10px;
    background-color: rgba(255,255,255,0.5)
  }
}
