* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	font-family: monospace;
}

.title h1{  
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
	width: 320px;
	height: 445px;
	margin: 2em;
	perspective: 1500px;
	.content {
		width: 100%;
		height: 100%;
    display: block;
    cursor: pointer;
		transform-style: preserve-3d;
		transition: transform 0.5s cubic-bezier(0, 0, 1, 1);
	}
}

.flipper {
	display: none;

	&:checked ~ .content {
		transform: rotateY(180deg);
	}
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 10px;
  border: 5px solid red;
  

	.inner {
		height: 100%;
		display: grid;
		padding: 1.5em;
		transform: translateZ(80px) scale(0.94);
	}
}

.front {
	background-size: cover;
	background-position: center center;
  
	&:after {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 10px;  
		backface-visibility: hidden;
  }
  
	.inner {
		grid-template-rows: 1fr;
		justify-items: center;
	}

	h1{
		grid-row: 1;
		margin-bottom: 0.3em;
		letter-spacing: 2px;
		color: #ffa;
		text-shadow: 1px 3px 3px black;
	}
  
  img{
    grid-row: 5;
    width: 100px;
    height: auto;
    filter: brightness(0.8);    
  }
}

.back {
	transform: rotateY(180deg);
	background-color: #fff;
	border: 5px solid red;
  overflow: hidden;
	.inner {    
    padding-left: 10px;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 0.3em;
		justify-items: center;
	}

	.info {
		position: relative;
    background-color: #ffff0066;
    border-radius: 5px;
		grid-row: 2;
		span {
      padding-bottom: 1px;
			font-size: 1.3em;
		}
		.icon {
			margin-left: 0.1em;
			span {
				display: block;
				margin-top: 5px;
				font-size: 15px;
			}
		}
	}

	.description {
		grid-row: 4;
		grid-column: 1/-1;
		font-size: 13px;
		border-radius: 5px;
		font-weight: 600;
		line-height: 2em;
		padding-right: 10px;
    background-color: rgba(255,255,255,0.5);
		overflow: auto;
  }
}
